@import ./sass/variables

.App
  font-size: 14px
  font-family: 'IBM Plex Sans', Helvetica, sans-serif

  table
    border: $slate-40 1px solid
    color: $slate-120
    margin: 16px 12px

    th, td
      text-align: left
      border-bottom: $slate-40 1px solid
      padding: 16px 12px

    tr
      th
        color: $slate-80
        font-size: 12px
        font-weight: 500
        padding: 8px 12px

    tr
      &:nth-child(2n)
        td
          background-color: $ocean-20

      .name
        color: $ocean-120

      .deals
        text-align: center
